@import "color";

.container1 {
  background-color: $bg_hero;
  .container {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    .contenuto {
      width: 60%;
      h1 {
        font-size: 4rem;
        font-weight: 800;
        width: 50%;
        color: $testoh1;
        margin-bottom: 0;
        animation: animation1 2s ease-in ;
      }
      p {
        color: $testo;
        font-size: 1.2rem;
        animation: animation2 2s ease-in ;
      }
      .bottoni {
        display: flex;
        margin-top: 20px;
        animation: animation3 2s ease-in ;
      }
    }
    .img {
      position: relative;
      width: 30%;
      bottom: -50px;
      animation: animation 1s ease-in;
      img {
        width: 100%;
        border-radius: 10px;
        border: 1px solid #b77dff;
        box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.3);
        
      }
    }
  }
}

@keyframes animation {
  from {
    position: relative;
    top: 50vh;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animation1 {
    from {
        position: relative;
        top: -20vh;
        opacity: 0;
      }
      to {
       top: 80;
        opacity: 1;
      }
    
}
@keyframes animation2 {
    from {
        position: relative;
        top: -10vh;
        opacity: 0;
      }
      to {
       top: 80px;
        opacity: 1;
      }
    
}
@keyframes animation3 {
    from {
        position: relative;
        left: -10vh;
        opacity: 0;
      }
      to {
       left: 80px;
        opacity: 1;
      }
    
}